"*":
  core:
    ignoredNames: [
      ".sass-cache"
      ".git"
    ]
    disabledPackages: [
      "autosave"
      "archive-view"
      "welcome"
      "move-status-items"
      "metrics"
    ]
    themes: [
      "one-dark-ui"
      "outlander-syntax"
    ]
    followSymlinks: false
    projectHome: "/home/k-bag/Projects/pluginsAtom/"
    autoHideMenuBar: true
  metrics: false
  "exception-reporting":
    userId: "29ef498c-bdbd-641e-7645-0f0ffea9613b"
  welcome:
    showOnStartup: false
  editor:
    showIndentGuide: true
    tabLength: 4
    useShadowDOM: true
    invisibles: {}
    fontFamily: "Droid Sans Mono"
    fontSize: 16
    backUpBeforeSaving: true
  minimap:
    scrollAnimation: true
    autoToggle: false
    plugins:
      linter: true
  linter:
    lintOnEditorFocus: false
    statusBar: "Show error if the cursor is in range"
    lintOnChange: false
    clearOnChange: true
    showInfoMessages: true
    statusIconScope: "File"
    showErrorPanel: false
    showErrorTabFile: false
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    minimumWordLength: 2
    confirmCompletion: "tab"
  "file-icons":
    onChanges: true
  "tree-view": {}
  "atom-beautify":
    _analyticsUserId: "e2ba73d4-bc0b-4a90-88f9-864566df13aa"
    html_indent_inner_html: true
    html_indent_size: 2
    html_brace_style: "expand"
    beautifyEntireFileOnSave: false
    analytics: false
    css_align_assignments: true
  "linter-scss-lint":
    scssLintExecutablePath: "/usr/local/bin/scss-lint"
    executablePath: "/usr/local/bin/scss-lint"
  "linter-tidy":
    tidyExecutablePath: "/usr/local/bin/tidy5"
  "git-log": {}
  tabs:
    enableVcsColoring: true
  "spell-check": {}
  "markdown-preview":
    useGitHubStyle: true
  "fuzzy-finder":
    preserveLastSearch: true
  docblockr:
    auto_add_method_tag: true
    align_tags: "no"
  "linter-jshint":
    lintInlineJavaScript: true
  "less-than-slash": {}
  emmet:
    useEmmetComments: false
  "keyboard-localization":
    useKeyboardLayout: "fr_FR"
  "git-plus": {}
  "linter-jsonlint": {}
  "linter-csslint": {}
  "tool-bar":
    position: "Left"
  "flex-tool-bar":
    toolBarConfigurationFilePath: "/home/k-bag/.atom/toolbar.json"
  pigments:
    sortPaletteColors: "by color"
    groupPaletteColors: "by file"
  "one-dark-ui":
    fontSize: 11
  "browser-plus":
    homepage: "http://local.dev"
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
    automaticReplace: true
    randomColor: false
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
      "ctrl-w"
    ]
    exceptCommunityPackages: [
      "docblockr"
      "ex-mode"
      "vim-mode-next"
      "vim-surround"
    ]
    allCommunityPackages: true
    exceptBundledPackages: [
      "autocomplete-plus"
      "grammar-selector"
      "link"
      "snippets"
      "tabs"
      "tree-view"
      "keybinding-resolver"
    ]
    allBundledPackages: true
  "new-tab":
    position: "Center"
  "indentation-indicator":
    indicatorPosition: "right"
    spaceAfterColon: true
  "linter-php":
    phpExecutablePath: "/usr/bin/php"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  navigate:
    dblclk: true
  "symbols-tree-view": {}
  "terminal-panel":
    logConsole: true
  notifications:
    showErrorsInDevMode: true
  "status-bar": {}
  "cursor-history":
    excludeClosedBuffer: true
    flashOnLand: true
    flashColor: "success"
  "clipboard-plus": {}
  "git-diff":
    showIconsInEditorGutter: true
  "atom-alignment":
    addSpacePostfix: true
  "atom-material-ui":
    disableAnimations: true
    useRoboto: true
    accentColor: "Red"
    compactTreeView: true
    depth: true
    rippleAccentColor: true
    panelContrast: true
    themeSyle: "Darker"
  "vim-mode-next":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround":
    pairs: [
      "``"
      "\"\""
      "''"
      "()"
      "[]"
      "{}"
    ]
  "atom-ternjs": {}
  "autocomplete-python":
    outputProviderErrors: true
    useSnippets: "required"
  "minimap-linter": {}
  "advanced-open-file":
    caseSensitiveAutoCompletion: true
    createFileInstantly: true
  "linter-gcc": {}
  "merge-conflicts": {}
  "atom-fuzzy-grep": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  isearch: {}
  "git-history": {}
  "autocomplete-php": {}
".css.scss.source":
  editor:
    tabLength: 2
".basic.html.text":
  editor:
    tabLength: 2
".coffee.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    tabLength: 2
".sass.source":
  editor:
    tabLength: 2
