#################################
# Creation         : 07-18-15
# Last modification: 28-08-15
# ###############################

# ################
# General
# ################

# General keybindings
'atom-workspace':

  # Core
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

  # Various
  'ctrl-shift-n': 'application:new-file'
  ', ,': 'command-palette:toggle'
  ', f': 'fuzzy-finder:toggle-file-finder'
  ', b': 'fuzzy-finder:toggle-buffer-finder'
  ', l': 'go-to-line:toggle'
  ', G': 'git-plus:menu'
  ', N': 'tree-view:toggle'
  ', n': 'tree-view:toggle-focus'

  # Color picker
  'alt-c': 'color-picker:open'

  # Clipboard-plus
  'alt-p': 'clipboard-plus:toggle'

  # Source preview
  'f8': 'source-preview:toggle'

  # Script
  'f9': 'script:run'
  'ctrl-f9': 'script:close-view'

  # Linter
  ', e': 'linter:togglePanel'

  # Atom-fuzzy-grep
  ', g': 'fuzzy-grep:toggle'


# #################
# Plugins
# #################

# Tree view
'.tree-view':
  'm d d': 'permanent-delete:delete'
  'm y': 'tree-view:copy'
  'm p': 'tree-view:paste'
  'm x': 'tree-view:cut'
  'm a f': 'tree-view:add-file'
  'm a d': 'tree-view:add-folder'
  'X': 'tree-view:recursive-collapse-directory'
  'O': 'tree-view:recursive-expand-directory'
  's': 'tree-view:open-selected-entry-down'
  'v': 'tree-view:open-selected-entry-right'

# ###############################
# Vim-mode & plugins in vim-mode
# ###############################

# Not insert-mode
# ################
'atom-text-editor.vim-mode:not(.insert-mode)':

  # Symbols view
  ', s': 'symbols-view:toggle-file-symbols'

  # Cursor history
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

  # Multi cursor
  'alt-k': 'multi-cursor:expandUp'
  'alt-j': 'multi-cursor:expandDown'

  # Terminal panel
  'g o t': 'terminal-panel:toggle'

  # Symbols tree view
  ', t': 'symbols-tree-view:toggle'

  # Git diff
  'g n': 'git-diff:move-to-next-diff'
  'g p': 'git-diff:move-to-previous-diff'

  # Clipboard plus
  ', p': 'clipboard-plus:toggle'

  # For windows, tabs & panes
  'shift-h': 'pane:show-previous-item'
  'shift-l': 'pane:show-next-item'
  'shift-q': 'core:close'
  'f6': 'tabs:close-all-tabs'
  'g s o': 'custom:close-other-panes'
  'g s s': 'pane:split-down'
  'g s v': 'pane:split-right'
  'g s q': 'pane:close'
  'g s o': 'pane:close-other-items'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'up': 'pane:increase-size'
  'down': 'pane:decrease-size'

  # For bookmarks
  ', m': 'bookmarks:view-all'
  'm m': 'bookmarks:toggle-bookmark'
  'm space': 'bookmarks:clear-bookmarks'

  # Remap default vim-mode keybindings
    # ^ is not working in azerty layout
  'å': 'vim-mode:move-to-first-character-of-line'

  # Various & general keybindings for text editing
  'g c': 'editor:toggle-line-comments'
  'shift-alt-k': 'editor:move-line-up'
  'shift-alt-j': 'editor:move-line-down'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-shift-f': 'project-find:show'
  'ctrl-d': 'find-and-replace:select-next'
  'ctrl-space': 'unset'

# Visual-mode
# ################

'atom-text-editor.vim-mode.visual-mode':

  # Atom alignement
  'enter': 'atom-alignment:alignMultiple'

# Insert-mode
# ################

'atom-text-editor.vim-mode.insert-mode':
  'j k': 'vim-mode:reset-normal-mode'
  'alt-d': 'editor:duplicate-lines'
  'ctrl-tab': 'snippets:available'
  'ctrl-shift-p': 'command-palette:toggle'

  # Emmet
  'j h': 'emmet:expand-abbreviation'

  # Bracket close jump
  'shift-space': 'bracket-close-jump:trigger'

# Normal mode
# ##############

'atom-text-editor.vim-mode.normal-mode':

  # Open this
  'g f f': 'open-this:here'
  'g f s': 'open-this:split-down'
  'g f v': 'open-this:split-right'

  # Isearch
  '/': 'isearch:search-forward'
  '?': 'isearch:search-backward'
