#################################
# Creation         : 07-18-15
# Last modification: 25-07-15
# ###############################

# ################
# General
# ################

# Unset all ******* ctrl-k keybindings
# 'body':
#   'ctrl-k ctrl-alt-w': 'unset!'
#   'ctrl-k ctrl-down': 'unset!'
#   'ctrl-k ctrl-left': 'unset!'
#   'ctrl-k ctrl-right': 'unset!'
#   'ctrl-k ctrl-n': 'unset!'
#   'ctrl-k ctrl-p': 'unset!'
#   'ctrl-k ctrl-w': 'unset!'
#   'ctrl-k down': 'unset!'
#   'ctrl-k left': 'unset!'
#   'ctrl-k right': 'unset!'
#   'ctrl-k up': 'unset!'
# 'atom-workspace atom-text-editor:not([mini])':
#   'ctrl-k ctrl-0': 'unset!'
#   'ctrl-k ctrl-1': 'unset!'
#   'ctrl-k ctrl-2': 'unset!'
#   'ctrl-k ctrl-3': 'unset!'
#   'ctrl-k ctrl-4': 'unset!'
#   'ctrl-k ctrl-5': 'unset!'
#   'ctrl-k ctrl-6': 'unset!'
#   'ctrl-k ctrl-7': 'unset!'
#   'ctrl-k ctrl-8': 'unset!'
#   'ctrl-k ctrl-9': 'unset!'
# 'atom-workspace atom-text-editor':
#   'ctrl-k ctrl-l': 'unset!'
#   'ctrl-k ctrl-u': 'unset!'
# '.platform-win32, .platform-linux':
#   'ctrl-k ctrl-b': 'unset!'
# '.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
#   'ctrl-k ctrl-d': 'unset!'
# '.platform-win32 .tree-view, .platform-linux .tree-view':
#   'ctrl-k down': 'unset!'
#   'ctrl-k up': 'unset!'
#   'ctrl-k right': 'unset!'
#   'ctrl-k left': 'unset!'
#   'ctrl-k h': 'unset!'
#   'ctrl-k j': 'unset!'
#   'ctrl-k k': 'unset!'
#   'ctrl-k l': 'unset!'

# General keybindings
'atom-workspace':

  # Core
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

  # The following keybindings are remaped to 'native' in ex & vim insert mode
  # (1)
  ', ,': 'command-palette:toggle'
  ', f': 'fuzzy-finder:toggle-file-finder'
  ', b': 'fuzzy-finder:toggle-buffer-finder'
  ', l': 'go-to-line:toggle'
  ', g': 'git-plus:menu'
  ', N': 'tree-view:toggle'
  ', n': 'tree-view:toggle-focus'

  # Plugins
  'alt-c': 'color-picker:open'
  'alt-p': 'clipboard-plus:toggle'
  'ctrl-shift-n': 'application:new-file'
  'f8': 'source-preview:toggle'
  'f9': 'script:run'
  'ctrl-f9': 'script:close-view'
  ', e': 'linter:togglePanel'

# #################
# Plugins
# #################

# Tree view
'.tree-view':
  'd d': 'tree-view:remove'
  'y': 'tree-view:copy'
  'p': 'tree-view:paste'
  'x': 'tree-view:cut'
  'a f': 'tree-view:add-file'
  'a d': 'tree-view:add-folder'
  's': 'tree-view:open-selected-entry-down'
  'v': 'tree-view:open-selected-entry-right'


# ###############################
# Vim-mode & plugins in vim-mode
# ###############################

# Not insert-mode
# ################
'atom-text-editor.vim-mode:not(.insert-mode)':

  # Symbols view
  ', s': 'symbols-view:toggle-file-symbols'

  # Cursor history
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

  # Multi cursor
  'alt-k': 'multi-cursor:expandUp'
  'alt-j': 'multi-cursor:expandDown'

  # Terminal panel
  'g o t': 'terminal-panel:toggle'

  # Symbols tree view
  ', t': 'symbols-tree-view:toggle'

  # Git diff
  'g n': 'git-diff:move-to-next-diff'
  'g p': 'git-diff:move-to-previous-diff'

  # Clipboard plus
  ', p': 'clipboard-plus:toggle'

  # For windows, tabs & panes
  'shift-h': 'pane:show-previous-item'
  'shift-l': 'pane:show-next-item'
  'shift-q': 'core:close'
  'f6': 'tabs:close-all-tabs'
  'g s o': 'custom:close-other-panes'
  'g s s': 'pane:split-down'
  'g s v': 'pane:split-right'
  'g s q': 'pane:close'
  'g s o': 'pane:close-other-items'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'

  # For bookmarks
  ', m': 'bookmarks:view-all'
  'm m': 'bookmarks:toggle-bookmark'
  'm space': 'bookmarks:clear-bookmarks'

  # Remap default vim-mode keybindings
    # ^ is not working in azerty layout
  'å': 'vim-mode:move-to-first-character-of-line'

  # Various & general keybindings for text editing
  'g c': 'editor:toggle-line-comments'
  'shift-alt-k': 'editor:move-line-up'
  'shift-alt-j': 'editor:move-line-down'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-shift-f': 'project-find:show'
  'ctrl-d': 'find-and-replace:select-next'

# Visual-mode
# ################

'atom-text-editor.vim-mode.visual-mode':
  'enter': 'atom-alignment:alignMultiple'

# Insert-mode
# ################
'atom-text-editor.vim-mode.insert-mode':
  'k': 'exit-ins-mode-if-proceded-by-j'
  'alt-d': 'editor:duplicate-lines'
  'ctrl-tab': 'snippets:available'
  'j': 'expand-emmet-if-proceded-by-h'

  # Normal behavior for some mapped keybindings (1)
  ',': 'native!'
  '!': 'native!'
  'space': 'native!'
